#login-section {
  padding: 20px;
  min-height: 100vh;
}

#login-section h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

#login-section p {
  color: gray;
  margin-bottom: 10px;
}

#login-section form {
  width: 50%;
  margin: auto;
  padding: 20px;
}

#login-section form * {
  display: block;
  width: 100%;
}

#login-section form label {
  font-weight: bold;
}

#login-section form input,
#login-section form textarea {
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  border: 1px solid gray;
}

#login-section form button {
  margin-top: 10px;
  border: none;
  padding: 8px 16px;
  background-color: rgb(69, 96, 15);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

#login-section form button:hover {
  background-color: rgb(108, 143, 38);
}